<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<section id="container" class="container">
 <div class="controls">
   <fieldset class="input-group">
     <input type="file" accept="image/*;capture=camera">
        <input type="button" onclick="Test()" value="identify" />
   </fieldset>
 </div>
 <div id="interactive" class="viewport"><br clear="all"></div>
</section>
<script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.js" type="text/javascript"></script>
<script src="./js/quagga.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="./css/fileinput.css">
<script src="./js/file_input.js" type="text/javascript"></script>
<script type="text/javascript">
/*  
$(function() {var App = {
        init: function() {
            App.attachListeners();
        },
        attachListeners: function() {
            var self = this;
            $("#btnIdents").on("click", function(e) {
                alert("test")
                var input = document.querySelector(".controls input[type=file]");
                if (input.files && input.files.length) {
                    App.decode(URL.createObjectURL(input.files[0]));
                }
            });
        },
        decode: function(src) {
            var self = this,
                config = $.extend({}, self.state, {src: src});
            Quagga.decodeSingle(config, function(result) {
                alert("HelloThisWorks")
                //results
                if(result.codeResult){
                    console.log(result.codeResult.code);
                    alert("The barcode is：" + result.codeResult.code);
                }else{
                    alert("Barcode not detected！");
                }
            });
        },
        state: {
            inputStream: {
                size: 800,
                singleChannel: false
            },
            locator: {
                patchSize: "medium",
                halfSample: true
            },
            decoder: {
                readers: [{
                    format: "code_128_reader",
                    config: {}
                }]
            },
            locate: true,
            src: null
        }
    };

    App.init();
}); 
*/

function Test(){
    var input = document.querySelector(".controls input[type=file]");
    if (input.files && input.files.length) {
        alert("input exists")
        decode(URL.createObjectURL(input.files[0]));
    }
}

/*
$(function() {
            $("#btnIdents").click(function() {
            var input = document.querySelector(".controls input[type=file]");
            if (input.files && input.files.length) {
                decode(URL.createObjectURL(input.files[0]));
            }
            });
});
*/

function decode(src){
    /*
      var config = {
            inputStream: {
            size: 800,
            singleChannel: false
            },
            locator: {
                patchSize: "medium",
                halfSample: true
               },
             decoder: {
                readers: [{
                     format: "code_128_reader",
                     config: {}
                    }]
                },
             locate: true,
              src: src
       }
    */

    Quagga.decodeSingle({
        inputStream: {
            size: 800
        },
        locator: {
            patchSåize: "medium",
            halfSample: false
        },
        numOfWorkers: 1,
        decoder: {
            readers: [{
                format: "code_128_reader",
                config: {}
            }]
        },
        locate: true,
        src: src
    }, function(result) {
            alert("in the decode func"+result)

            if(!result){
               alert("No barcode detected！");
               return false;
            }
            //result
            if(result.codeResult){
                console.log("The barcode detected is: "+ result.codeResult.code);
                alert("The barcode detected is：" + result.codeResult.code);
            }
            else{
                alert("Identification failed");
            }
   });
}


</script>
</body>
</html>
